 body {
            padding-top: 70px;
            background:#f1f1f1 url(../images/body.gif) repeat;

 }

/* 超小屏幕（手机，小于 768px） */
 /* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */

/* !* 小屏幕（平板，大于等于 768px） *!
 @media (min-width: @screen-sm-min) {

 }

 !* 中等屏幕（桌面显示器，大于等于 992px） *!
 @media (min-width: @screen-md-min) {  }

 !* 大屏幕（大桌面显示器，大于等于 1200px） *!
 @media (min-width: @screen-lg-min) {  }*/
 @media (min-width: 100px) and (max-width: 290px ) {
     body{
         padding-top: 120px;
     }
 }

 .detail{
     border-bottom: 1px #f2f2f2 solid;
 }
 .detail:hover{
     background-color: RGB(240,240,240);
 }
 .content img{
     float: none;
     margin: 0px auto;
     max-width: 880px;
     display: block;

 }

 .btn-file {  /*  上传按钮*/
     position: relative;
     overflow: hidden;
 }
 .btn-file input[type=file] {
     position: absolute;
     top: 0;
     rightright: 0;
     min-width: 100%;
     min-height: 100%;
     font-size: 100px;
     text-align: right;
     filter: alpha(opacity = 0);
     opacity: 0;
     outline: none;
     background: white;
     cursor: inherit;
     display: block;
 }